<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <connectionStrings>
    <add name="DamasChinasEntities" connectionString="metadata=res://*/DamasChinasEntityDataModel.csdl|res://*/DamasChinasEntityDataModel.ssdl|res://*/DamasChinasEntityDataModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=damasChinas;password=damasChinas;database=damaschinas;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <system.serviceModel>
    <services>
      
      <service name="ServicioCuenta.ServicioCuenta">
        <endpoint address="net.tcp://localhost:2025/ServicioCuenta" binding="netTcpBinding" bindingConfiguration="" name="ServicioCuentaEndpoint" contract="ServicioCuenta.IServicioCuenta" />
      </service>
      
      <service name="ServicioJugar.ServicioJugar">
        <endpoint address="net.tcp://localhost:2025/ServicioJugar" binding="netTcpBinding" bindingConfiguration="" name="ServicioJugarEndpoint" contract="ServicioJugar.IServicioJugar" />
      </service>
      
    </services>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.10.5.0" newVersion="6.10.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>