<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <services>
            <service name="ServicioJugar.ServicioJugar">
                <endpoint address="net.tcp://localhost:2025/ServicioJugar" binding="netTcpBinding"
                    bindingConfiguration="" name="ServicioJugarEndpoint" contract="ServicioJugar.IServicioJugar" />
            </service>

          <service name="ServicioJugar.ServicioJugar">
            <endpoint address="net.tcp://localhost:2025/ServicioJugar" binding="netTcpBinding"
              bindingConfiguration="" name="ServicioJugarEndpoint" contract="ServicioJugar.IServicioJugar" />
          </service>
          
        </services>
    </system.serviceModel>
</configuration>
